<div class="social-menu big">
    <ul>
        <li>
            <a href="mailto:mondalaritra002@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        </li>
        <li>
            <a href="https://www.facebook.com/aritra.mondal.90226" target="_blank"><i
                    class="fab fa-facebook-square"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/__aritra_mondal__/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/aritramondal199" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/aritra-mondal-972167a9/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://github.com/aritra1999" target="_blank"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.behance.net/mondalarit8f8f" target="_blank"><i
                    class="fab fa-behance-square"></i></a>
        </li>
    </ul>
</div>
<div class="social-nav small shadow">
    <ul>
        <li>
            <a href="mailto:mondalaritra002@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        </li>
        <li>
            <a href="https://www.facebook.com/aritra.mondal.90226" target="_blank"><i
                    class="fab fa-facebook-square"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/__aritra_mondal__/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/aritramondal199" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/aritra-mondal-972167a9/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://github.com/aritra1999" target="_blank"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.behance.net/mondalarit8f8f" target="_blank"><i
                    class="fab fa-behance-square"></i></a>
        </li>
    </ul>
</div>
<br>

