{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <div align="center" class="contain">
        <div align="left" class="page-heading">
            <h1>Projects and Articles</h1>
        </div>
        <br>
        <div class="project">
            <h2 style="color:white" align="left">Projects</h2>
            <div class="card-list">

                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/ano.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>Ano</h2>
                        <br>
                        Ano is platform to send message anonymously to your desired person. Built just for fun.
                        <br>

                        <div class="button-list">
                            <button class="projects-button gitorbehance ">
                                <a href="https://github.com/aritra1999/Ano" target="_blank">View Source</a>
                            </button>
                            <div></div>
                            <button class="projects-button demo">
                                <a href="https://anomessage.herokuapp.com/" target="_blank">Live Demo</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/ecomm.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>eComm.</h2>
                        <br>
                        eComm is an ecommerce plaēorm for small scale sellers who produce handmade items.
                        <br>

                        <div class="button-list">
                            <button class="projects-button gitorbehance ">
                                <a href="https://github.com/aritra1999/eCommerce" target="_blank">View Source</a>
                            </button>
                            <div></div>
                            <button class="projects-button demo">
                                <a href="https://ecommdemo.herokuapp.com/" target="_blank">Live Demo</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/cpide.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>CP-IDE</h2>
                        <br>
                        A lightweight, cross-platform code editor built with electron for competitive programmers.
                        <br>

                        <div class="button-list">
                            <button class="projects-button gitorbehance ">
                                <a href="https://bitbucket.org/aritra1999/cpide/src/master/" target="_blank">View
                                    Source</a>
                            </button>
                            <div></div>
                            <button class="projects-button demo">
                                <a href="https://cp-ide.herokuapp.com/" target="_blank">Landing Page</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/autoclip.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>Auto Clip</h2>
                        <br>
                        Simple python project to clip long raw videos to the desired duration.
                        <br>

                        <div class="button-list">
                            <button class="projects-button gitorbehance ">
                                <a href="hhttps://github.com/aritra1999/AutoClip" target="_blank">View
                                    Source</a>
                            </button>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/emailauth.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>Email OTP Auth</h2>
                        <br>
                        Email-OTP-Auth is a email authentication module for django.
                        <br>

                        <div class="button-list">
                            <button class="projects-button gitorbehance ">
                                <a href="https://github.com/aritra1999/EmailAuth" target="_blank">View Source</a>
                            </button>
                            <div></div>
                            <button class="projects-button demo">
                                <a href="#" target="_blank">Live Demo</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h2 style="color:white" align="left">Articles</h2>
            <br>
            <div class="card-list">
                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/article1.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>Cross-platform Desktop Apps, using Electron.</h2>
                        <br>
                        Electron(formerly known as Atom Shell) is an open-source software framework developed and
                        maintained by GitHub.
                        <br>


                        <button class="projects-button gitorbehance ">
                            <a href="https://medium.com/@1806290/cross-platform-desktop-apps-using-electron-ec59d2c93bfb"
                               target="_blank">Read on
                                Medium</a>
                        </button>
                    </div>
                </div>
                <div class="card shadow card-project">
                    <img src="{% static "img/thumbnails/article2.png" %}" class="card-img" alt="Ano">
                    <br><br>
                    <div class="projects-des">
                        <h2>Deploying Django Apps on Heroku</h2>
                        <br>
                        Heroku is a cloud platform as a service supporting several programming languages.
                        <br>


                        <button class="projects-button gitorbehance ">
                            <a href="https://medium.com/@1806290/deploying-django-apps-on-heroku-99af9da7565e"
                               target="_blank">Read on
                                Medium</a>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <img class="bg-img" src="{% static "img/bg-projects.svg" %}" alt="">
{% endblock %}